.container {
  display: flex;
  flex-direction: column;
  font-family: Montserrate;
  /* align-items: flex-start; */
  /* margin: 30px 0 10px; */
  padding: 5px 22px;
  font-weight: 18px;
  /* width: 100%; */
  gap: 10px;
  font-weight: bold;
}

.container input {
  padding: 6px;
  border-radius: 8px;
  background: #e6e8e9;
  border: 1px solid #e6e8e9;
  outline: none;
}

.cell {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 2px;
  align-items: center;
  font-weight: normal;
  width: 100%;
  justify-content: space-between;
}

.income-c {
  border: 2px solid #e6e8e9;
  border-right: 4px solid green;
}

.expense-c {
  border: 2px solid #e6e8e9;
  border-right: 4px solid red;
}
