.container {
  display: flex;
  flex-direction: column;
  font-family: Montserrate;
  align-items: center;
  margin: 15px 0 10px;
}

.header {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
